body {
    background-color: rgb(78, 47, 108);
    overflow: hidden;
    margin-left: 77px;
    margin-right: 77px;
}
.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.TextoTitulo {
    background-color: rgba(161, 244, 216, 0.5);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    width: 340px;
    height: 80px;
}
.Principal {
    display: flex;
    justify-content: center;
}
.Trabalhos {
    background-color: rgb(111, 81, 141);
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 200ms ease-in-out;
}
.Sobre {
    background-color: rgb(111, 81, 141);
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 200ms ease-in-out;
}
.Comms {
    background-color: rgb(111, 81, 141);
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 200ms ease-in-out;
}
.OFF:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}
.ON {
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 650px;
}
.OFF {
    width: 20%;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 600px;
}

.SubT {
    background-color: rgba(250, 235, 215, 0.9);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Texto {
    font-size: 30px;
}
.OFF .Texto {
    display: none;
}
.ON .PFP {
    display: none;
}
.Links {
    border-radius: 20px;
    background-color: rgb(188, 131, 241);
    height: 50px;
    font-weight: bolder;
    transition: transform 200ms ease-in-out;
}
.Links:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.PFP {
    margin-top: 77px;
    height: 40%;
    width: auto;
    border-radius: 30%;
}

.ButtonSubT {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Opcoes {
    position: relative;
    top: 10px;
    width: 800px;
}
.Fics, .Capas {
    display: flex;
}
.BotaoFics {
    background-image: url('escrita-de-copia.png');
}
.BotaoCapas1 {
    background-image: url('livro-de-capa-preta-fechado.png');
}
.BotaoFics, .BotaoCapas1 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: none;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.BotaoCapas2{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border: none;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('livro-de-capa-preta-fechado.png');
}

.MiniOff {
    display: none;
}